.App {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
.container.container-fluid {
  margin: 3rem;
}
.logo img {
  max-width: 200px;
}
.search_btn {
  background-color: orange;
  color: black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search_bar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav_cart {
  color: white;
}

.nav_cart_item_count {
  background-color: orange;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

.footer {
  /* clear: both; */
  position: absolute;
  width: 100%;
  bottom: 0;
  /* margin-top: -200px; */
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

.card.product-card {
  display: flex;
  align-items: center;
  width: 14rem;
}

.card-img-top {
  width: auto;
  height: 200px;
  max-width: 14rem;
  /* max-height: 200px; */
}

.product-card a {
  color: black;
}

.loading-spinner img {
  width: 300px;
  margin: 6rem auto;
  display: block;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
  background-color: white;
}

.login-btn,
.add-to-cart-btn,
.submit-review-btn,
.user-form Button,
.cart-btn {
  border-radius: 20px;
  background-color: orange;
  border-color: orange;
  padding: auto;
  color: black;
}

.product-details img {
  max-width: 100%;
  min-width: 20rem;
  height: auto;
}

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 13rem;
}

.home-page .col-md-3 {
  min-width: 15rem;
}
.filters li {
  cursor: pointer;
  list-style: none;
}

.products-filtered {
  width: 70%;
}
.rating-text {
  font-size: 1.5rem;
  font-family: 'Open Sans', Arial, 'Helvetica', sans-serif, 'Heiti';
  /* align-items:` */
}

.all-ratings-text {
  color: rgb(140, 140, 255);
}

.all-ratings-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.user-form Button,
.login-btn {
  border-radius: 5px;
}

.user-form a {
  color: gray;
}

.custom-file-input,
.custom-file-label {
  position: relative;
}

.file-upload {
  height: 100%;
}

.figure {
  margin: 0;
}

.custom-file-label {
  width: 100%;
}

.cart-link {
  font-size: 1.2rem;
}

.nav-link {
  padding: 0;
}

.dropdown-toggle::after {
  content: none;
}
.navbar a {
  color: black;
  text-decoration: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center-icons {
  display: flex;
  justify-content: space-around;
}

.profile-details p {
  font-size: 1.2rem;
}

.user-form {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.cart a {
  color: rgb(109, 109, 109);
  font-size: 1.2rem;
}

#view_order_details {
  background-color: #fa9c23;
  border-color: #fa9c23;
}

#order_summary {
  border: 1px solid #e3e3e3;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.arrow-middle {
  margin: 0;
  border: 0;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  text-decoration: none;
  font-weight: bold;
  float: left;
  height: auto;
  background: #fa9c23;
  color: #fff;
  z-index: 1;
}

.incomplete {
  cursor: default;
  background: #eeeeee;
  color: grey;
  z-index: 0;
}

.left-arrow-side {
  float: left;
  border-top: 20px solid #fa9c23;
  border-left: 15px solid #fff;
  border-bottom: 20px solid #fa9c23;
  margin-right: -0px;
  z-index: 1;
}

.right-arrow-side {
  float: left;
  border-top: 20px solid transparent;
  border-left: 15px solid #fa9c23;
  border-bottom: 20px solid transparent;
  margin-left: 0px;
  z-index: 1;
}

.left-arrow-incomplete {
  cursor: default;
  border-top-color: #eeeeee;
  border-bottom-color: #eeeeee;
  z-index: 0;
}
.right-arrow-incomplete {
  cursor: default;
  border-left-color: #eeeeee;
  z-index: 0;
}

.step-row {
  text-align: center;
}

.step-col {
  white-space: nowrap;
  display: inline-block;
}

.order-success,
.order-success .row {
  height: 80vh;
}

.order-details-personal-info p,
.order-details-personal-info a {
  font-size: 1.5rem;
}
.order-details-personal-info p {
  margin-left: 1.5rem;
}
.content-container {
  padding: 1.5rem;
}

.review-username {
  font-size: 0.8rem;
  color: grey;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #fff;
  transition: all 0.3s;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

ul ul a {
  padding-left: 30px !important;
}

.carousel-item > img { 
  width: 95%; 
}

.carousel-item{
  text-align: center;
}


@media (max-width: 700px) {
  .order-details-order-number {
    font-size: 1.5rem;
  }

  .order-details-personal-info p,
  .order-details-personal-info a {
    font-size: 1.3rem;
  }

  .content-container {
    padding: 3rem 1.5rem;
  }
}
