.container.container-fluid {
  margin: 3rem;
}
.logo img {
  max-width: 200px;
}
.search_btn {
  background-color: orange;
  color: black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search_bar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav_cart {
  color: white;
}

.nav_cart_item_count {
  background-color: orange;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

.card.product-card {
  display: flex;
  align-items: center;
  width: 14rem;
}

.card-img-top {
  width: auto;
  height: 200px;
  max-width: 14rem;
  /* max-height: 200px; */
}

.product-card a {
  color: black;
}

.loading-spinner img {
  width: 300px;
  margin: 6rem auto;
  display: block;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
  background-color: white;
}

.login-btn,
.add-to-cart-btn,
.submit-review-btn,
.login-form Button {
  border-radius: 20px;
  background-color: orange;
  border-color: orange;
  padding: auto;
  color: black;
}

.product-details img {
  max-width: 100%;
  min-width: 20rem;
  height: auto;
}

.red-color {
  color: red;
}

.green-color {
  color: green;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 13rem;
}

.home-page .col-md-3 {
  min-width: 15rem;
}
.filters li {
  cursor: pointer;
  list-style: none;
}

.products-filtered {
  width: 70%;
}
.rating-text {
  font-size: 1.5rem;
  font-family: 'Open Sans', Arial, 'Helvetica', sans-serif, 'Heiti';
  /* align-items:` */
}

.all-ratings-text {
  color: rgb(140, 140, 255);
}

.all-ratings-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  font-weight: 700;
}

.login-form Button,
.login-btn {
  border-radius: 5px;
}

.login-form a {
  color: gray;
}
